beautifulsoup4                          4.12.3
colbert-ai                              0.2.19
dataclasses-json                        0.6.4
faiss-cpu                               1.8.0
fast-pytorch-kmeans                     0.2.0.1
joblib                                  1.3.2
numpy                                   1.26.4
pandas                                  2.2.1
parso                                   0.8.3
pexpect                                 4.8.0
pypdf                                   4.1.0
RAGatouille                             0.0.8.post2
rank-bm25                               0.2.2
sentence-transformers                   2.6.1
sentencepiece                           0.2.0
tokenizers                              0.15.2
torch                                   2.1.0
transformers                            4.39.1
voyager                                 2.0.6